.navbar {
  overflow: hidden;
  background-image: linear-gradient(to right, #333 , slategray, #333);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-image: linear-gradient(to right, slategray , #333, slategray);
  }
}

.navbar-link {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ddd;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  -webkit-app-region: no-drag;
}

.dropdown {
  float: left;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.navbar-link:hover {
  background-color: rgb(70, 109, 128);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content span:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.window-controls-container {
  -webkit-app-region: no-drag;
}
